{% extends 'emp_app/index.html' %}

{% block first %}
<div class="container mt-5">
  {% if messages %}
  {% for message in messages %}
    <small>{{message}}</small>
  {% endfor %}
  {% endif %}<br>
    <h3 class="text-center alert alert-dark">View All Employees</h3>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead class="table-light">
                  <th>ID</th>
                  <th>FistName</th>
                  <th>LastName</th>
                  <th>Deaprtment</th>
                  <th>Salary</th>
                  <th>Bonus</th>
                  <th>Role</th>
                  <th>Phone</th>
                  <th>Location</th>
                  <th>Joining Date</th>
                </thead>
                <tbody>
                    {% for emp in emps %}
                  <tr>
                      <td>{{emp.id}}</td>
                      <td>{{emp.first_name}}</td>
                      <td>{{emp.last_name}}</td>
                      <td>{{emp.dept}}</td>
                      <td>{{emp.salary}}</td>
                      <td>{{emp.bonus}}</td>
                      <td>{{emp.role}}</td>
                      <td>{{emp.phone}}</td>                      
                      <td>{{emp.dept.location}}</td>  
                      <td>{{emp.join_date}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
        
    </div>
</div>

{% endblock first %}