{% extends 'emp_app/index.html' %}

{% block first %}
<div class="container">
    <div class="row">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              Remove Employee
            </button>
            <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="dropdownMenuButton2">
              {% for emp in emps %}
                <li><a class="dropdown-item active" href="{% url 'removeemp' emp.id %}">{{emp.first_name}}{{emp.last_name}}</a></li>
                 {% endfor %}
            </ul>
          </div>
    </div>
</div>
{% endblock first %}